#deal-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#carousel-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

#card {
    border-radius: 0.15em;
    width: 200px;
    height: 240px;
    margin: 0px 20px;
}

#card-footer {
    height: 100px;
    background-color: #EE6C4D;
}

.home-body {
    width: 100%;
    height: 100%;
    padding: 105px 0px;
}

.home-header {
    position: fixed;
    top:    65px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3D5A80;
    height: 50px;
    z-index: 1;
}

.home-brands {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #3D5A80; */
    height: 85px;
}

.brands {
    width: 100%;
    height: 100%;
    background-color: #293241;
    border-radius: 0.25em;
}

@media (max-width: 1300px) {
    .home-1-container {
        display: flex;
        flex-direction: column;
    }
    .basic-calculator-container {
        height: 280px;
    }
}

@media (min-width: 1300px) {
    .home-1-container {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        height: 300px;
    }
}

.advertised-deal-container {
    border-radius: 0.25em;
    margin: 0px 0px;
    padding: 10px;
}



.basic-calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.basic-calculator {
    display: flex;
    justify-content: center;
    border-radius: 0.25em;
    width: 100%;
    height: 100%;
    background-color: #3D5A80;
}

.simple-calculator-form {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.simple-calculator-form label{
    color: black;
    font-size: 16px;
    padding-top: 5px;
}

.simple-calculator-form-1 input {
    color: white;
    text-align: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.253);
    border-radius: 0;
}

.simple-calculator-form-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 0.25em;
    margin: 0px 10px;
    padding: 0px 40px;
}

.simple-calculator-form-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 0.25em;
    padding: 0px 40px;
}

.simple-calculator-form-3 {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 0.25em;
    margin: 0px 10px;
    padding: 0px 40px;
}

.simple-calculator-form-3 p {
    margin: 1px 0px;
}

.how-it-works-container {
    width: 100%;
}

.how-it-works-1-container {
    padding: 20px 20px;
    height: 500px;
}

.how-it-works-1, .how-it-works-2, .how-it-works-3 {
    border-radius: 0.25em;
    width: 100%;
    height: 100%;
    background-color: #293241;
}

.how-it-works-2 {
   background-color: #3D5A80;
}

.how-it-works-2-container {
    padding: 20px 20px;
    height: 500px;
}

.how-it-works-3-container {
    padding: 20px 20px;
    height: 500px;
}

.join-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.home-google-maps-container {
    width: 100%;
    height: 600px;
    background-color: darkgrey;
}

.simple-deal-alert-container {
    width: 100%;
    height: 300px;
    background-color: wheat;
}

.home-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: darkblue;
}

.hidden {
    display: none;
}

p.speech-bubble {
    color: whitesmoke;
    font-weight: bold;
    position: relative;
    width: 96px;
    height: 24px;
    text-align: center;
    line-height: 25px;
    background-color: #EE6C4D;
    border: 2px solid #EE6C4D;
    bottom: 64px;
    left: -43px;
    transform: rotate(-90deg);
}

p.speech-bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 98px;
    top: -2px;
    border: 13.5px solid;
    border-color: #9c4833 transparent transparent #9c4833;
    transform: rotate(270deg);
}

p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}