.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    height: 100%;
    background-color: #333e51;
}

.locate-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293241;
    height: 150px;
    width: 1460px;
    margin-top: 20px;
}

.locate-body-container p {
    color: white;
    font-size: 20px;
    margin-right: 40px;
}

.locate-deal-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    height: 45px;
    background-color: whitesmoke;
    border-radius: .5em;
}

#locate-deal-select {
    text-align: center;
    width: 100px;
}

#locate-deal-search-button {
    color: whitesmoke;
    background-color: #EE6C4D;
    padding: 10px;
    margin-left: 25px;
    border-radius: 0.5em;
}

.home-1-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.home-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 100px;
    height: 100%;
    width: 100%;
}

.advertised-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 40px;
}

.advertised-deal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.advertised-deal-container {
    background-color: #293241;
}

#deal-carousel {
    display: flex;
    align-items: flex-start;
    height: 350px;
}

#carousel-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.calculator-h4, .advertised-h4 {
    display: flex;
    align-items: flex-start;
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 15px;
    margin-left: 80px;
    width: 100%;
}


.advertised-h4-underline {
    width: 420px;
    border-bottom: #EE6C4D 5px solid;
    position: relative;
    z-index: -1;
    bottom: 0px;
}

.mini-calculator-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 750px;
}

.basic-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    width: 500px;
    height: auto;
    background-color: #dce0e7;
}

.user-welcome-container {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #293241;
    width: 840px;
    height: 260px;
    top: 40px;
}

#welcome-avatar {
    margin: 0px 50px;
}

.user-welcome-container p {
    color: white;
    font-size: 30px;
    margin: 0px 50px;
}

.basic-calculator-left, .basic-calculator-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
}

.basic-calculator-left{
    background-color: #293241;
}

.simple-calculator-form {
    display: flex;
    align-items: center;
    height: 100%;
    width: 600px;
}

.simple-calculator-header {
    background-color: #dce0e7;
}

.simple-calculator-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.result-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 5px 20px;
}


.calculator-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    margin-left: 40px;
}





#locate-deal-range {
    width: 150px;
}


#card {
    border-radius: 0.15em;
    width: 200px;
    height: 240px;
    margin: 0px 40px;
    padding-top: 10px;
}

#card-body {
    height: 140px;
    background-color: whitesmoke;
}

#card-footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding-left: 15px;
    background-color: #EE6C4D;
}





.calculator-h4-underline {
    margin-bottom: 40px;
    width: 422px;
    border-bottom: #EE6C4D 5px solid;
    position: relative;
    z-index: -1;
    bottom: 0px;
}





.home-header {
    position: fixed;
    top:    65px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3D5A80;
    height: 50px;
    z-index: 1;
}

.how-it-works-container {
    width: 100%;
}

.how-it-works-1-container {
    position: sticky;
    padding: 20px 20px;
    height: 500px;
    top: 0px;
}

.how-it-works-1, .how-it-works-2, .how-it-works-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #333e51;
}

.how-it-works-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333e51;
    padding: 0px 30px;
}

#dark {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 100px solid #333e51;
    position: absolute;
    top: -100px;
}

.how-it-works-3 h3 {
    font-size: 80px;
    line-height: 80px;
    color: whitesmoke;
    text-align: center;
}

.how-it-works-3 p {
    font-size: 30px;
    line-height: 30px;
    color: #EE6C4D;
    padding: 0px 80px;
}

.how-it-works-1-text {
    font-size: 60px;
    color: #EE6C4D;
    text-align: center;
    line-height: 60px;
    /* font-style: italic; */
}

.how-it-works-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3D5A80;
}

#how-it-works-2-p {
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    line-height: 50px;
}

#how-it-works-2-h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    line-height: 80px;
    color: #EE6C4D;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 100px solid #3D5A80;
    position: absolute;
    top: -100px;
}

.how-it-works-2-container {
    display:flex;
    justify-content: center;
    position: sticky;
    padding: 20px 20px;
    height: 700px;
    top: 0px;
    background-color: #3D5A80;
}

.how-it-works-3-container {
    height: 1000px;
    display:flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.join-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 65px;
}

.join-button-container button{
    color: whitesmoke;
}

.home-google-maps-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 600px;
    background-color: darkgrey;
}

.broker-home-sign-up:hover {
    background-color: rgb(150, 150, 150);
}

.user-home-sign-up:hover {
    background-color: rgb(150, 150, 150);
}

.simple-deal-alert-container {
    width: 100%;
    height: 300px;
}

button:focus {
    box-shadow: 0;
}

.home-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: darkblue;
}

p.speech-bubble {
    color: whitesmoke;
    font-weight: bold;
    position: relative;
    width: 96px;
    height: 24px;
    text-align: center;
    line-height: 25px;
    background-color: #EE6C4D;
    border: 2px solid #EE6C4D;
    bottom: 64px;
    left: -23px;
    transform: rotate(-90deg);
}

p.speech-bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 98px;
    top: -2px;
    border: 13.5px solid;
    border-color: #9c4833 transparent transparent #9c4833;
    transform: rotate(270deg);
}

p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}