/* TODO Add site wide styles */
h1, h2 {
    font-family: 'Neuton', serif;
}

h3, h4, h5, label {
    font-family: 'Hind', sans-serif;
}

p, a, button, span {
    font-family: 'Metrophobic', sans-serif;
    font-size: 17px;
}

body {
    background-color: #e0fbfc75;
}

p, h1, h3, h2, h4, h5 {
    margin: 0;
}