.signup-page-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.signup-module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 850px;
}

.signup-form {
  padding-top: 220px;
}

.signup-button-container {
  text-align: end;
  padding-bottom: 120px;
}

.signup-button-container button {
  color: white;
}

.signup-grid-left {
  display: flex;
  justify-content: flex-end;
}

.signup-grid-right {
  display: flex;
  justify-content: flex-start;
}
