.locate-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.locate-container {
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 100%;
}

.locate-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locate-forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    height: 300px;
}

.locate-results-container {
    height: 2700px;
    width: 100%;
    background-color: blueviolet;
    margin-left: 20px;
}

.locate-accordion {
    width: 350px;
}