.locate-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.body-header {
    color: white;
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.locate-container {
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 100%;
}

.locate-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locate-forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: sticky;
    position: -webkit-sticky; */
    top: 100px;
    height: 300px;
}

.locate-accordion-details {
    background-color: #3D5A80;
}

.locate-results-container {
    height: 2700px;
    width: 100%;
    background-color: blueviolet;
    margin-left: 20px;
    margin-top: 40px;
}

.locate-accordion {
    width: 350px;
}