
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3D5A80;
    padding: 0px 20px;
    height: 65px;
    /* z-index: 3; */
}

#sidebar {
    display: flex;
    position: fixed;
    top: 65px;
    left: 0px;
    border-radius: 0.25em;
    height: auto;
    width: auto;
    z-index: 10;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

#navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383331;
    color: whitesmoke;
    height: 50px;
    margin: 0px -12px;
}

#navlink:hover {
    background-color: #EE6C4D;
}


.sidebar-profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #383331;
    color: whitesmoke;
    margin: -12px -12px;
    padding: 15px 10px;
}

.sidebar-profile-container a {
    color: whitesmoke;
    font-size: 20px;
}

#logout-button {
    font-family: 'Hind', sans-serif;
}

#logout-button:hover {
    font-family: 'Hind', sans-serif;
    border-bottom: 2px solid black;
}

.nav-footer {
    display: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #98C1D9;
    position: fixed;
    bottom: 0;
}


.menu-navbar {
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    height: 60px;
}

.kPLiWf:focus {
    box-shadow: 0;
}

#sidebar-hidden {
    display: none;
}

.notification-component-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    top: 75px;
    right: 10px;
    z-index: 9;
}

.new-deal-notification-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: green;
    border-radius: 2em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    transition: transform 1s;
    margin-bottom: 15px;
}

.new-deal-notification-container:hover {
    transform: scale(1.02);
    /* margin: 20px 35px; */
}

.new-deal-notification-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.new-deal-notification-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}