
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3D5A80;
    padding: 0px 20px;
    height: 65px;
    z-index: 3;
}

#sidebar {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    position: fixed;
    top: 60px;
    left: 12px;
    background-color: #FFF;
    border-radius: 0.25em;
    height: auto;
    width: 300px;
    z-index: 10;
}

#logout-button {
    font-family: 'Hind', sans-serif;
}

#logout-button:hover {
    font-family: 'Hind', sans-serif;
    border-bottom: 2px solid black;
}

.nav-footer {
    display: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #98C1D9;
    position: fixed;
    bottom: 0;
}


.menu-navbar {
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    height: 60px;
}

.kPLiWf:focus {
    box-shadow: 0;
}

#sidebar-hidden {
    display: none;
}

.notification-component-container {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    z-index: 1000;
}

.new-deal-notification-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 80px;
    background-color: green;
    border-radius: 2em;
    margin: 20px -230px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    transition: transform 2s;
}

.new-deal-notification-container:hover {
    transform: scale(1.1);
    margin: 20px 35px;
}

.new-deal-notification-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.new-deal-notification-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}