.broker-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

#broker-table {
    background-color: whitesmoke;
    padding: 0px 0px;
    width: 1050px;
    border-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

#broker-table thead {
    background-color: #EE6C4D;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    font-weight: bolder;
}


.broker-table-container {
    display: flex;
    justify-content: center;
    width: 1100px;
    height: auto;
    background-color: #ffffffd8;
    padding-bottom: 20px;
}

.broker-comments-container {
    display: flex;
    justify-content: center;
    width: 1100px;
    height: auto;
    background-color: #ffffffd8;
    padding-bottom: 20px;
}

.broker-comments-top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    width: 100%;
    height: 40px;
    background-color: orange;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.broker-comments {
    background-color: whitesmoke;
    width: 1050px;
    height: 400px;
    border-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.broker-page-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 200px;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    background-color: #ffffffd8;
    padding-top: 5px;
}

.broker-image-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    background-color: #293241;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}
.broker-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
    width: 900px;
    background-color: whitesmoke;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.broker-page-top-bar {
    position: relative;
    top: 10px;
    width: 1100px;
    height: 40px;
    background-color: #3D5A80;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.broker-page-bottom-bar {
    top: 10px;
    width: 1100px;
    height: 40px;
    background-color: #3D5A80;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    box-shadow: 0px -4px 8px rgb(0 0 0 / 20%);
}