.broker-page-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1700px) {
    .broker-page-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .broker-left {
        min-width: 100%;
        max-height: 730px;
    }

    .broker-page-interactions-container {
        justify-content: center;
        min-width: 1040px;
    }

    .broker-comments-container {
        align-items: center;
        min-width: 1040px;
        background-color: white;
        /* margin-top: 20px; */
    }

    div.comment-container {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        width: 800px;
        min-width: 500px;
    }

    .pinned-comments-container {
        background-color: white;
        min-width: 1040px;
    }
}

.broker-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    height: fit-content;
    margin-left: 20px;
    margin-top: 15px;
    padding: 20px 0px;
}

.broker-right-body {
    display: flex;
    flex-direction: column;
}

#broker-table {
    background-color: whitesmoke;
    padding: 0px 0px;
    width: 1050px;
    border-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.specific-deal-container {
    background-color: rgb(212, 212, 212);
    width: 100%;
    height: 200px;
}

#broker-table thead {
    background-color: #EE6C4D;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    font-weight: bolder;
}


.broker-table-container {
    display: flex;
    justify-content: center;
    width: 1090px;
    height: auto;
    background-color: #293241;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

#broker-page-deal-table {
    width: 1050px;
    height: 650px;
}

.broker-page-interactions-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    /* padding: 0px 30px; */
    /* margin-top: 80px; */
    /* padding-bottom: 30px; */
}

.broker-comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 500px;
    background-color:white;
}

.table-header {
    background-color: white;
}

.selected-deal-container {
    background-color: whitesmoke;
    height: 700px;
    width: 260px;
    margin: 10px 30px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    position: sticky;
    top: 30px;
}

.selected-deal-header {
    height: 50px;
    width: 100%;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    background-color: #485771;
}

.pinned-comments-container {
    background-color: white;
    width: 500px;
    height: 200px;
}

.broker-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: rgb(232, 232, 232);
    height:auto;
    /* width: 500px; */
    margin: 5px 0px;
    padding: 15px 0px;
}

.send-icon:hover {
    color: white;
}

#comment-input {
    width: 320px;
    /* margin-right: 80px; */
    color: black;

}

.broker-comment-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.comment-avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.comment-body-container {
    display: flex;
    flex-direction: column;
}

.comment-body-header {
    display: flex;
    align-items: center;
    height: 60%;
}

.comment-body-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 40%;
}


.broker-comments-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    width: 100%;
    height: 100px;
    background-color: #EE6C4D;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.broker-comments {
    background-color: whitesmoke;
    width: 1050px;
    height: 700px;
    border-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.broker-page-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 130px;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    background-color: #293241;
    margin-top: 35px;
}

.broker-image-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    background-color: #3D5A80;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}
.broker-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    width: 830px;
    background-color: whitesmoke;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.broker-info-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.broker-page-top-bar {
    position: relative;
    top: 10px;
    width: 1100px;
    height: 40px;
    background-color: #3D5A80;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.avatar-image {
    width: 100px;
    height: 100px;
}