.deal-create-body {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deal-manage-body {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deal-manage-upload {
    height: 100%;
}

.deal-manage-notes {
    /* display: flex;
    justify-content: center; */
}

.deal-manage-radio {
    /* display: flex;
    justify-content: center; */
}

.deal-create-container {
    width: 1040px;   
    height: 620px;
}

.deal-manage-container {
    width: 1220px;   
    height: 620px;
}

.deal-create-header {
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 30px;
    line-height: 0px;
}

.deal-manage-header {
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 30px;
    line-height: 0px;
}

.progress-bar {
    position: relative;
    top: -143px;
    width: 100%;
    height: 10px;
    margin: 10px 0px;
    background-color: #EE6C4D;
    border-radius: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.082);
}

.progress-bar-filler {
    height: 10px;
    border-radius: 0.5em;
    background-color: green;
    width: 0%;
    transition: width 2s ease;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.h4 h4 {
    text-transform: uppercase;
}

.h4-underline {
    width: 237px;
    border-bottom: #EE6C4D 5px solid;
    position: relative;
    z-index: -1;
    bottom: -15px;
}

.deal-create {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #ffffffd8;
    border-radius: 0.25em;
}

.deal-manage {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    padding-bottom: 65px;
    height: auto;
    border-radius: 0.25em;
    background-color: #3D5A80;
}

.deal-manage-controls-container {
    width: 100%;
    background-color: #3D5A80;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    height: 100px;
    transition: height 1s ease-in-out;
}

.upload-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.upload-images-container:hover {
    height: auto;
}

#upload-field {
    margin-top: 5px;
    border: 2px solid rgba(128, 128, 128, 0.089);
    font-weight: bolder;
    color: black;
    padding: 50px 75px;
}

#upload-field:hover {
    border-color: rgba(0, 128, 0, 0.363);
}

.picture-manage-container {
    background-color: #293241;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-width: 200px;
    border-radius: 0.5em;
}

.checkbox-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}

.checkbox-container label {
    padding: 10px 10px;
}

.picture-manage-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.picture-manage-button #remove-images-button {
    background-color: #EE6C4D;
    color: whitesmoke;
}

.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}


#caret {
    background-color: #EE6C4D;
    position: relative;
    left: 162px;
    top: 15px;
    width: 50px;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.deal-manage table {
    padding-top: 11px;
}

thead {
    color: whitesmoke;
    background-color: #293241;
}

tbody {
    background-color: whitesmoke;
}

.deal-manage-controls-set {
    padding-top: 40px;
    color: black;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding-bottom: 30px;
}

#deal-notes {
    color: black;
    border-top-right-radius: 0;
    background-color: #ecba13;
    height: 175px;
    width: 320px;
}

.deal-create input {
    font-family: 'Hind', sans-serif;
    background-color: whitesmoke;
    border: 0;
    text-align: center;
    width: 200px;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.048);
}

#quad {
    margin: 0px 10px;
}

.deal-create-1 {
    text-align: center;
    height: 550px;
    width: 400px;
}

.deal-create-2 {
    text-align: center;
    height: 550px;
    width: 400px;
    /* border: 1px black solid; */
}

.deal-create-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -60px;
    width: 1000px;
    height: 65px;
    padding: 0px 20px;
    background-color: #EE6C4D;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.deal-manage-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -60px;
    width: 1080px;
    height: 65px;
    padding: 0px 20px;
    background-color: #3D5A80;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#next-button {
    font-family: 'Metrophobic', sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    background-color: #293241;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
}

#remove-images-button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Metrophobic', sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    background-color: #293241;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
}

#horizontal-divider {
    position: relative;
    left: 5px;
    width: 420px;
    margin: 30px 0px;
    background-color: #29324121;
    height: 2px;
}



#manage-deals-table {
    margin-top: 10px;
    background-color: whitesmoke;
}