.deal-manage-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.single-deal-manage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image-list-container {
    width: 1000px;
    height: 400px;
}

#deal-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deal-images-body {
    width: 800px;
    background-color: white;
    padding: 80px;
}